body {
  background: linear-gradient(135deg, #e9d0ea, #93f1f0);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 40px;
  backdrop-filter: blur(8px);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin: 20px auto;
  width: 95%;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-right: 25px;
  color: #363535;
  font-weight: 600;
}

.nav-link {
  color: black !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #4691ed !important;
  text-decoration: underline;
  transform: scale(1.15);
}

.store-title {
  text-align: center;
    font-family: serif;
    font-size: 60px;
    font-weight: 600;
    padding-left: 10px;
    color: #212529e8;
    padding-bottom: 8px;
    text-shadow: 0 0 10px rgb(208 94 245 / 58%), 0 0 20px #9b949c30;
    transition: text-shadow 0.3s 
ease-in-out;
}

@media (max-width: 600px) {
  .store-title {
    font-size: 1.8rem;
  }
}

.carousel {
  width: 95%;
  max-width: 100%;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative; 
}

.carousel-inner {
  width: 100%;
  border-radius: 10px;
}

.carousel-item {
  width: 100%; 
}

.carousel-item img {
  display: block;
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.carousel-item img:hover {
  transform: scale(1.03);
}

.carousel+.product-card{
  margin-top: 20px;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
}

.product-card {
  background: #f3d0d0;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(130, 66, 66, 0.1);
  padding: 15px;
  overflow: hidden;
  text-align: center;
  font-family: sans-serif;
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.product-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 10px;
  margin-bottom: 10px;
}
.product-card h3 {
  color: #434242;
  font-size: 20px;
  font-weight: bold;
   margin-bottom: 5px;
   text-shadow: 0 0 5px #eb89bf, 0 0 20px #e6f572;
}

.product-card p {
  font-weight: 500;
  font-size: 18px;
  color: #6d6a6a;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 0 0 5px #edbef1;
}

.add-btn {
  background: #eababa;
  color: #2b2828;
  font-weight: bold;
  border: 1px solid rgb(240, 204, 204);
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 12px;
}

.add-btn:hover {
  background: #e7a0a0;
  transform: scale(1.05);
}

@media(max-width: 768px) {
  .carousel img {
    height: 300px;
  }
  .product-img{
    height: 180px;
  }
}


.footer {
  background: #333535;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
  margin-top: 25px;
  box-shadow: 0 -4px 20px rgba(0, 229, 255, 0.2);
  
}

.footer-logo {
  font-size: 28px;
  color: #caf1f6;
  font-weight: bold;
  text-shadow: 0 0 10px #0f4242, 0 0 20px #00bcd4;
}

.footer-tagline {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  color: #e2e8f0;
   text-shadow: 0 0 10px #7ae1e1, 0 0 20px #00bcd4;
}

.footer-icons {
  margin: 20px 0;
}

.footer-icons a {
  color: #00e5ff;
  font-size: 22px;
  margin: 0 10px;
  transition: 0.3s ease;
}

.footer-icons a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #00e5ff;
}

.footer-bottom {
  font-size: 13px;
  color: #94a3b8;
  margin-top: 25px;
  bottom: 0;
}

